 .button {
     -fx-background-color: #2596be;
     -fx-background-radius: 5px;

     -fx-border-color:white;
     -fx-border-radius: 5px;

     -fx-font-size: 18px;
     -fx-font-weight: bold;
     -fx-text-fill: white;
 }

 .button:hover {
     -fx-background-color: #2596be;
     -fx-font-weight: bold;
     -fx-text-fill: white;
 }

 .text-field {
     -fx-prompt-text-fill: grey;
     -fx-text-fill: #2596be;
 }

 .text-field:hover {
     -fx-prompt-text-fill: grey;
     -fx-font-weight: bold;
     -fx-text-fill: #2596be;
 }

 .text-area {
     -fx-prompt-text-fill: grey;
     -fx-font-size: 18px;
     -fx-text-fill: #2596be;
 }

 .text-area:hover {
     -fx-prompt-text-fill: grey;
     -fx-font-size: 18px;
     -fx-font-weight: bold;
     -fx-text-fill: #2596be;;
 }

 #inventory {
     -fx-background-color: #2596be;
     -fx-background-radius: 5px;

     -fx-border-color:white;
     -fx-border-radius: 5px;

     -fx-font-weight: bold;
     -fx-text-fill: #2596be;
 }

 #inventory:hover {
     -fx-background-color: #2596be;
     -fx-font-weight: bold;
     -fx-text-fill: white;
 }